@import url(./styles.css);

/* Footer */

.footerDesktop{
    margin-top: 100px;
    margin-left: 220px;
    transition: .3s ease-in-out;
}

#check:checked ~ .footerDesktop{
    margin-left: 60px;
}

footer {
    background-color: var(--azul-escuro );
    color: var(--texto);
    padding: 50px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

.footer-section h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-section p {
    font-size: 16px;
    line-height: 1.5;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: var(--azul-claro);
}

footer .footer-section p {
    font-size: 16px;
}

footer .footer-section p a {
    color: var(--texto);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

footer .footer-section p a:hover {
    color: var(--azul-claro);
}

ooter  #socialMedia{
    width: 100%;
    bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;    
    margin-top: 10px;    
}

footer  #socialMedia .fab{
    position: relative;
    font-size: 1.3rem;
    margin: 8px 8px;
    cursor: pointer;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

footer  #socialMedia .fab:hover{
    color:  var(--azul-claro);        
}

footer  #socialMedia .fab::after{
    position: absolute;
    content: '';
    width: 5px;
    height: 5px;
    background: transparent;
    border-radius: 50%;        
}

footer  #socialMedia .fab:hover::after{
    background: red;
}    