@import url(./style.css);

.versaoDesktop{
    display: none;
}

.versaoMobile{
    height: 100vh;  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 1fr 1fr;
    grid-template-areas: 
    "nav"
    "heroSection"
    "conteudo"
    "footer"
    ;
}

.versaoMobile .navMobile{
    grid-area: nav;
}

.versaoMobile .heroSectionMobile{
    grid-area: heroSection;
}

.versaoMobile .conteudoMobile{
    grid-area: conteudo;
}

.versaoMobile .footerMobile{
    grid-area: footer;
}